{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class = "card mb3" style = "max-width:840px;">
    <div class = "col-md-4">
        <img src= "{{ object.image_urls }}" class="card-img">
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ object.title }}</h4>
        <p class="card-text">{{ object.description }}</p>
    </div>
    {% if object.book_available is True %}
    <a href="{% url 'checkout' object.pk %} " class="btn btn-outline-success" role="button">Buy Now</a>
    {% else %}
    <h4 class="text-danger">Out of Stock..!</h4>
    {% endif %}
</div>

</body>
</html>
{% endblock content %}}